@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "librereg";
	src: url("../fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
		url("../fonts/librebaskerville-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "librebold";
	src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"),
		url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealmedium";
	src: url("../fonts/neuemontreal-medium-webfont.woff2") format("woff2"),
		url("../fonts/neuemontreal-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealregular";
	src: url("../fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
		url("../fonts/neuemontreal-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.neue-reg {
	font-family: neue_montrealregular;
}

.neue-md {
	font-family: neue_montrealmedium;
}

.libre-reg {
	font-family: librereg;
}

.libre-md {
	font-family: librebold;
}

.scroll-container {
	width: 100%; /* Set the width of the container */
	overflow: hidden; /* Hide the overflowing content */
	position: relative; /* Positioning for absolute content */
}

.scroll-container div {
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	animation: scroll 100s linear infinite; /* Animation for scrolling */
}

@media (max-width: 700px) {
	.scroll-container div {
		white-space: nowrap; /* Prevent text from wrapping to the next line */
		animation: scroll 10s linear infinite; /* Animation for scrolling */
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0%); /* Start off-screen to the right */
	}
	100% {
		transform: translateX(-100%); /* Move off-screen to the left */
	}
}

.text-gradient {
	background: var(--mine, linear-gradient(180deg, #ff6c1a 0%, #ff443e 100%));
	-webkit-background-clip: text; /* Clip the gradient to the text */
	background-clip: text;
	color: transparent;
}

.bg-gradient {
	background: var(--mine, linear-gradient(180deg, #ff6c1a 0%, #ff443e 100%));
	color: white;
    padding: 10px 24px;
    border-radius: 4px;
}
