@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "librereg";
	src: url("../fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
		url("../fonts/librebaskerville-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "librebold";
	src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"),
		url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealmedium";
	src: url("../fonts/neuemontreal-medium-webfont.woff2") format("woff2"),
		url("../fonts/neuemontreal-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montrealregular";
	src: url("../fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
		url("../fonts/neuemontreal-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "neue_montreallight";
	src: url("../fonts/neuemontreal-light-webfont.woff2") format("woff2"),
		url("../fonts/neuemontreal-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.neue-light {
	font-family: "neue_montreallight";
}

.neue-reg {
	font-family: neue_montrealregular;
}

.neue-md {
	font-family: neue_montrealmedium;
}

.libre-reg {
	font-family: librereg;
}

.libre-md {
	font-family: librebold;
}

.scroll-container {
	width: 100%; /* Set the width of the container */
	overflow: hidden; /* Hide the overflowing content */
	position: relative; /* Positioning for absolute content */
}

.scroll-container div {
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	animation: scroll 100s linear infinite; /* Animation for scrolling */
}

@media (max-width: 700px) {
	.scroll-container div {
		white-space: nowrap; /* Prevent text from wrapping to the next line */
		animation: scroll 10s linear infinite; /* Animation for scrolling */
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0%); /* Start off-screen to the right */
	}
	100% {
		transform: translateX(-100%); /* Move off-screen to the left */
	}
}

.text-gradient {
	background: var(--mine, linear-gradient(180deg, #ff6c1a 0%, #ff443e 100%));
	-webkit-background-clip: text; /* Clip the gradient to the text */
	background-clip: text;
	color: transparent;
}

.bg-gradient {
	background: var(--mine, linear-gradient(180deg, #ff6c1a 0%, #ff443e 100%));
	color: white;
	border-radius: 8px;
}

@media (min-width: 765px) and (max-width: 910px) {
	.protext {
		font-size: 115px !important;
	}

	.smallbox {
		left: -12px !important;
	}
}

.video-container {
	position: relative;
	width: 100%; /* Set the width of the container to fill its parent */
	max-width: 100%; /* Ensure the container doesn't exceed the parent's width */
	height: 0; /* Initialize the height to 0 to maintain aspect ratio */
	padding-bottom: 56.25%;
}

video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* .abouttext {
	font-family: librereg;
} */


	.abouttext {
		font-family: neue_montrealmedium;
        letter-spacing: -1px !important;
	}

